.Input {
  border: 1px solid #ddd;
  display: block;
  font-size: 1.1em;
  margin-bottom: 10px; 
  padding: 1vh 0 1vh 0;
  text-align: left;
  width: 95vw;
  border-radius: 4px;
}

.Input::placeholder {
  color: #ccc;
}

.Button {
  order: 1px solid #aaa;
  background: white;
  font-size: 1.1em;
  border-radius: 20px;
  border-color: purple;
  padding: 8px 12px;
  font-weight: bold;
}

.Required {
  color: #D11053;
  font-family: Arial;
  font-weight: bold;
}

.Section {
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  width: 90vw;
}

